* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  background: #010203;
  padding: 0;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  height: 110px;
  justify-content: space-between;
  position: fixed;
  backdrop-filter: blur(5px);
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid rgb(36, 36, 36);
  z-index: 100;
}

.logo {
  cursor: pointer;
}

.logo a {
  color: aliceblue;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
}

.search-input {
  background: transparent;
  outline: none;
  border: 1px solid rgba(101, 159, 221, 0.668);
  padding: 12px 12px;
  font-size: 22px;
  color: white;
  border-radius: 16px;
}

.home-content {
  top: 110px;
  position: relative;
  background-color: #010203;
}

p {
  font-size: 1.5rem;
  color: aliceblue;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  gap: 1.5rem;
}

.spinner {
  height: 50px;
  width: 50px;
  border: 4px solid #282a2c;
  border-top-color: #6f7376;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.crypto-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.crypto-container.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}

.crypto-container.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.crypto-card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.crypto-card h3 {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.crypto-card span {
  color: white;
}

.card-header .crypto-img {
  width: 70px;
  border-radius: 12px;
}

.card-header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.controls {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 110px;
  position: relative;
  padding: 0 16px;
}

.view-toggle {
  display: flex;
  gap: 4px;
}

.view-toggle button {
  background: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 16px;
  border: 1.5px solid #fff;
  transition: .5s ease;
  font-weight: 500;
  text-transform: uppercase;
}

.view-toggle button.active {
  background-color: rgba(64, 207, 193, 0.504);
  border-radius: 8px;
  border-color: white;
}

.symbol {
  font-size: 15px;
  margin-bottom: 8px;
}

span.rank {
  background-color: rgba(97, 229, 241, 0.688);
  width: fit-content;
  padding: 4px 12px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.price {
  font-weight: bolder;
  font-size: 25px;
}

.change {
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px;
}

.change.positive {
  color: #0f0;
  background-color: rgba(108, 220, 108, 0.332);
  border-color: #0f0;
}

.change.negative {
  border-color: #f00;
  background-color: rgba(142, 37, 37, 0.503);
  color: rgb(255, 0, 0);
}

.crypto-stats {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.stat {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.stat .stat-label {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffffac;
}

.stat .stat-value {
  font-size: 16px;
  font-weight: 500;
}