* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  background: #010203;
  padding: 0;
  position: relative;
}

.header {
  position: static;
  backdrop-filter: blur(5px);
  align-items: center;
  border-bottom: 1px solid rgb(36, 36, 36);
  z-index: 10;
  width: 100%;
  padding: 12px;
}

.header-content {
  padding: 0 2rem;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  justify-content: space-between;
  gap: 16px;
  margin: auto;
  max-width: 900px;
}

.header-content .logo-section h1 {
  color: rgb(33, 143, 168);
}

.header-content .logo-section p {
  font-size: 16px;
}

.search-section {
  width: 80%;
  margin: auto;
}

.search-input {
  background: transparent;
  outline: none;
  border: 2px solid rgba(101, 159, 221, 0.668);
  padding: 12px 20px;
  font-size: 22px;
  color: white;
  border-radius: 32px;
  width: 100%;
}

.coin-detail {
  padding: 2rem;
}

p {
  font-size: 1.5rem;
  color: aliceblue;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  gap: 1.5rem;
}

.spinner {
  height: 50px;
  width: 50px;
  border: 4px solid #282a2c;
  border-top-color: #6f7376;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.crypto-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.crypto-container.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}

.crypto-container.list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.crypto-card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  gap: 16px;
  display: flex;
  flex-direction: column;
  top: 0;
  transition: .5s ease;
}

.crypto-card:hover {
  border-color: #3a60a66e;
  top: -5px;
}

.crypto-card h3 {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.crypto-card span {
  color: white;
}

.card-header .crypto-img {
  width: 70px;
  border-radius: 12px;
}

.card-header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.controls {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  max-width: 1200px;
  margin:auto;
}

.view-toggle {
  display: flex;
  gap: 4px;
}

.view-toggle button {
  background: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 16px;
  border: 1.5px solid #fff;
  transition: .5s ease;
  font-weight: 500;
  text-transform: uppercase;
}

.view-toggle button.active {
  background-color: rgba(64, 207, 193, 0.504);
  border-radius: 8px;
  border-color: white;
}


select {
  padding: 12px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid #6f7376;
  outline: #010203;
  font-size: 1rem;
}

option {
  background: #010203;
  color: rgba(64, 207, 193, 0.766);
}

.symbol {
  font-size: 1rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

span.rank {
  background-color: rgba(97, 229, 241, 0.688);
  width: fit-content;
  padding: 4px 12px;
  border-radius: 30px;
  font-size: .8rem;
  font-weight: 500;
  color: black;
}

.price {
  font-weight: bolder;
  font-size: 25px;
}

.change {
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px;
}

.change.positive {
  color: #0f0;
  background-color: rgba(108, 220, 108, 0.332);
  border-color: #0f0;
}

.change.negative {
  border-color: #f00;
  background-color: rgba(142, 37, 37, 0.503);
  color: rgb(255, 0, 0);
}

.crypto-stats {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.stat {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.stat-label,
.range-label {
  font-size: 13px;
  color: #ffffffac;
}

.stat-label {
  text-transform: uppercase;
}

.stat-value,
.range-value {
  font-size: 1.2rem;
  font-weight: 500;
}

button.back-button {
  padding: 12px 20px;
  background: transparent;
  color: white;
  border: 1.5px solid #282a2c;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s ease;
  box-shadow: none;
  font-size: 1rem;
  max-width: 300px;
  margin: auto;
}

button.back-button:hover {
  border-color: rgba(0, 255, 0, 0.29);
  box-shadow: inset 0px 0px 2px 0.1px #fbfbfb45;
  scale: 1.05;
}

.no-result {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-result h2 {
  color: #f04f4fce;
  font-size: 2rem;

}

.no-result span {
  font-size: 1.8rem;
  color: #d31a1aab;
  text-transform: uppercase;
}

.no-result:first-of-type button {
  margin-top: 20px;
}

/* .coin-header {} */

.coin-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.coin-title img {
  width: 50px;
}

.coin-title h1 {
  font-size: 2rem;
  color: #fff;
}

.coin-price-section {
  margin: 20px auto;
  padding: 16px;
  border: 1.5px solid #282a2c;
  border-radius: 16px;
  background: #010203;
}

.current-price {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.current-price h2 {
  color: white;
  font-size: 2rem;
}

.current-price .change {
  padding: 8px 15px;
  font-size: 1rem;
}

.price-ranges {
  color: white;
  display: flex;
  gap: 1.5rem;
  margin: 16px 0 0;
}

.price-range {
  display: flex;
  flex-direction: column;
}